/* line 1, ../sass/base.scss */
.link-container li {
  display: none;
  width: 20%;
  margin: 2%;
  float: left;
}
/* line 6, ../sass/base.scss */
.link-container li a {
  padding: 20px 0px;
  display: block;
  width: 100%;
}

/* line 13, ../sass/base.scss */
#settings {
  padding: 20px;
}
