/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/layout.scss */
.link-container {
  top: 25%;
  position: absolute;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  clear: both;
}

/* line 10, ../sass/layout.scss */
#settings {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
}

/* line 1, ../sass/base.scss */
.link-container li {
  display: none;
  width: 20%;
  margin: 2%;
  float: left;
}
/* line 6, ../sass/base.scss */
.link-container li a {
  padding: 20px 0px;
  display: block;
  width: 100%;
}

/* line 13, ../sass/base.scss */
#settings {
  padding: 20px;
}

/* Colors */
/* line 14, ../sass/state.scss */
#mainGrid .link-0 :hover, #mainGrid .link-4 :hover, #mainGrid .link-8 :hover, #mainGrid .link-12 :hover {
  background-color: #ef0637;
}
/* line 18, ../sass/state.scss */
#mainGrid .grid2:hover {
  background-color: #ff4a0c;
}
/* line 21, ../sass/state.scss */
#mainGrid .grid3:hover {
  background-color: #c59604;
}
/* line 24, ../sass/state.scss */
#mainGrid .list-3, #mainGrid :hover {
  background-color: #dff08e;
}

/* Colors */
/* line 13, ../sass/theme.scss */
.link-container a {
  text-decoration: none;
  color: white;
}

/* line 21, ../sass/theme.scss */
ul .link-0, ul .link-4, ul .link-8, ul .link-12 {
  background-color: #fa2e59;
}
/* line 24, ../sass/theme.scss */
ul .link-1, ul .link-5, ul .link-9, ul .link-13 {
  background-color: #ff703f;
}
/* line 27, ../sass/theme.scss */
ul .link-2, ul .link-6, ul .link-10, ul .link-14 {
  background-color: #f7bc05;
}
/* line 30, ../sass/theme.scss */
ul .link-3, ul .link-7, ul .link-11, ul .link-15 {
  background-color: #ecf6bb;
}

/* line 35, ../sass/theme.scss */
.link-container li {
  font-size: 30px;
  font-family: sans;
  font-weight: bold;
  text-align: center;
  color: white;
  border-color: whitesmoke;
  border-width: 6px;
  border-style: solid;
}

/* line 53, ../sass/theme.scss */
body {
  background-color: #76bcad;
}

/* line 59, ../sass/theme.scss */
form input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 15px;
  background: #fff;
  border: none;
  color: #e74c3c;
  outline: none;
}

/* line 70, ../sass/theme.scss */
button {
  border: none;
  display: block;
  background: #136899;
  height: 40px;
  width: 80px;
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

/* line 1, ../sass/animations.scss */
.flipin {
  -webkit-animation: flip-in 2s;
  -moz-animation: flip-in 2s;
  -o-animation: flip-in 2s;
  animation: flip-in 2s;
}

@-webkit-keyframes flip-in {
  /* line 10, ../sass/animations.scss */
  0% {
    opacity: 0.0;
    -webkit-transform: perspective(600px) rotateY(50deg);
    -moz-transform: perspective(600px) rotateY(50deg);
    -ms-transform: perspective(600px) rotateY(50deg);
    transform: perspective(600px) rotateY(50deg);
    -webkit-transform-origin: 100% 20%;
    -moz-transform-origin: 100% 20%;
    -ms-transform-origin: 100% 20%;
    transform-origin: 100% 20%;
  }

  /* line 21, ../sass/animations.scss */
  100% {
    opacity: 1.0;
    -webkit-transform: perspective(0px) rotateY(0deg);
    -moz-transform: perspective(0px) rotateY(0deg);
    -ms-transform: perspective(0px) rotateY(0deg);
    transform: perspective(0px) rotateY(0deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}

@-moz-keyframes flip-in {
  /* line 34, ../sass/animations.scss */
  0% {
    opacity: 0.0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: perspective(600px) rotateY(50deg);
    -moz-transform: perspective(600px) rotateY(50deg);
    -ms-transform: perspective(600px) rotateY(50deg);
    transform: perspective(600px) rotateY(50deg);
    -webkit-transform-origin: 100% 20%;
    -moz-transform-origin: 100% 20%;
    -ms-transform-origin: 100% 20%;
    transform-origin: 100% 20%;
  }

  /* line 46, ../sass/animations.scss */
  100% {
    opacity: 1.0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: perspective(0px) rotateY(0deg);
    -moz-transform: perspective(0px) rotateY(0deg);
    -ms-transform: perspective(0px) rotateY(0deg);
    transform: perspective(0px) rotateY(0deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}

@-o-keyframes flip-in {
  /* line 60, ../sass/animations.scss */
  0% {
    opacity: 0.0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: perspective(600px) rotateY(50deg);
    -moz-transform: perspective(600px) rotateY(50deg);
    -ms-transform: perspective(600px) rotateY(50deg);
    transform: perspective(600px) rotateY(50deg);
    -webkit-transform-origin: 100% 20%;
    -moz-transform-origin: 100% 20%;
    -ms-transform-origin: 100% 20%;
    transform-origin: 100% 20%;
  }

  /* line 72, ../sass/animations.scss */
  100% {
    opacity: 1.0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: perspective(0px) rotateY(0deg);
    -moz-transform: perspective(0px) rotateY(0deg);
    -ms-transform: perspective(0px) rotateY(0deg);
    transform: perspective(0px) rotateY(0deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}

@keyframes flip-in {
  /* line 86, ../sass/animations.scss */
  0% {
    opacity: 0.0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: perspective(600px) rotateY(50deg);
    -moz-transform: perspective(600px) rotateY(50deg);
    -ms-transform: perspective(600px) rotateY(50deg);
    transform: perspective(600px) rotateY(50deg);
    -webkit-transform-origin: 100% 20%;
    -moz-transform-origin: 100% 20%;
    -ms-transform-origin: 100% 20%;
    transform-origin: 100% 20%;
  }

  /* line 98, ../sass/animations.scss */
  100% {
    opacity: 1.0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: perspective(0px) rotateY(0deg);
    -moz-transform: perspective(0px) rotateY(0deg);
    -ms-transform: perspective(0px) rotateY(0deg);
    transform: perspective(0px) rotateY(0deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
